{#- Як у теми, плюс: дата над заголовком для сторінок з `date:` у front matter
    (статті Docs; у постів блогу дата вже є в бічній панелі) і прев'ю-картинка
    поста блогу (`image:` у front matter, інакше заглушка) -#}
{% include "partials/actions.html" %}
{% set is_post = page.config is defined and page.config.date is defined %}
{% if page.meta and page.meta.date and not is_post %}
  {% set icons = config.theme.icon.blog %}
  {% set words = page.content | striptags | split | list | length %}
  {% set readtime = ((words + 199) // 200) or 1 %}
  <ul class="page-meta">
    <li>
      {% include ".icons/" ~ icons.date ~ ".svg" %}
      <time datetime="{{ page.meta.date }}">{{ page.meta.date | date }}</time>
    </li>
    {% if page.meta.updated %}
      <li>
        {% include ".icons/" ~ icons.date_updated ~ ".svg" %}
        <span>Updated <time datetime="{{ page.meta.updated }}">{{ page.meta.updated | date }}</time></span>
      </li>
    {% endif %}
    <li>
      {% include ".icons/" ~ icons.readtime ~ ".svg" %}
      <span>{{ readtime }} min read</span>
    </li>
  </ul>
{% endif %}
{% if is_post %}
  <img class="post-cover" src="{{ page.meta.image | d('img/post-placeholder.png', true) | url }}" alt="" width="1200" height="630">
{% endif %}
{% if "<h1" not in page.content %}
  <h1 id="__skip">{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}
{{ page.content }}
{% include "partials/tags.html" %}
{% include "partials/source-file.html" %}
{% include "partials/feedback.html" %}
{% include "partials/comments.html" %}
